@page "/"
@inject HttpClient Http

@if (newss?.Any() != true)
{
    <span>Loading...</span>
}
else
{
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- Khoản trống làm chuyện khác -->
        </div>
        <div class="col-sm-8">
            <!-- Khu vực nội dung bài viết bao gồm tiêu đề -->
            @foreach (var news in newss)
            {
                <h5>@news.Title</h5>
                <div>
                    <!-- Canh giữa Image: class="mx-auto d-block" -->
                    <!-- img-fluid responsive image -->
                    <img class="img-fluid mx-auto d-block"
                        src="https://i1-sohoa.vnecdn.net/2021/01/14/fully-autonomous-air-taxi-conc-7655-7530-1610616164.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=FjwFeaGrYFjSGwyWa7IKMg"
                        alt="W3Schools.com">
                    <p>Some text about me in culpa qui officia deserunt mollit anim..Some text about me in culpa qui officia
                        deserunt mollit animSome text about me in culpa qui officia deserunt mollit anim</p>
                </div>
            }
            <h5>Tiêu đề</h5>
            <div>
                <!-- Canh giữa Image: class="mx-auto d-block" -->
                <!-- img-fluid responsive image -->
                <img class="img-fluid mx-auto d-block"
                    src="https://i1-sohoa.vnecdn.net/2021/01/14/fully-autonomous-air-taxi-conc-7655-7530-1610616164.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=FjwFeaGrYFjSGwyWa7IKMg"
                    alt="W3Schools.com">
                <p>Some text about me in culpa qui officia deserunt mollit anim..Some text about me in culpa qui officia
                    deserunt mollit animSome text about me in culpa qui officia deserunt mollit anim</p>
            </div>

        </div>

        <div class="col-sm-2 sidenav">
            <!-- Khoản trống để quảng cáo ^^ -->
        </div>
    </div>
}

@code{
    private List<News> newss;

    protected override async Task OnInitializedAsync()
    {

        newss = await Http.GetFromJsonAsync<List<News>>($"news");



    }

}