@page "/"
@page "/Post"
@inject HttpClient Http

@if (news == null)
{
    <span>Loading...</span>
}
else
{
    <div class="container" style="margin-top:30px">
        <!-- Khu vực nội dung bài viết bao gồm tiêu đề -->
        <h2>@news.Title</h2>
        <hr>
        <div>
            <!-- Canh giữa Image: class="mx-auto d-block" -->
            <img class="mx-auto d-block" src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
            <img class="mx-auto d-block" src="lINK HANH" alt="">
            @foreach (var con in contents)
            { 
                
              if(con.Location < imageLinks.ElementAt(countOfImage)?.Location ||stop){
                  <p>@con.Text</p>
                  continue;
              }else
              {
                  <img class="mx-auto d-block" src=@imageLinks.ElementAt(countOfImage).TextLink alt="">
                  if(countOfImage+1 <= imageLinks.Count )
                  {
                      stop = true;
                  }else{
                      countOfImage++;
                  }
                  <p>@con.Text</p>
              }
            }
           
        </div>
        @text
    </div>
}

@code{
    private int countOfImage = 0;
    private bool stop = false;
    private List<Content> contents;
        private List<ImageLink> imageLinks;
    private string text;
    private News news;
    private long maxLocation;
    protected override async Task OnInitializedAsync()
    {
        news = await Http.GetFromJsonAsync<News>("news/2");
        maxLocation = Math.Max(news.ImageLink.Count, news.Content.Count);
        contents = news.Content.OrderBy(c =>c.Location).ToList();
        imageLinks = news.ImageLink.OrderBy(c =>c.Location).ToList();
       
    }

}